<nav class="purple darken-4">
  <div class="nav-wrapper container">
  <a style='color:#fff;font-size:2.1rem;display:inline' href='javascript:history.back()'>&#8592;</a>
    <a href="#" class="brand-logo">Discover News</a>
  </div>
</nav>
