<div class="container">
  <div class="row z-depth-2 lime lighten-5">
    <div id="tabs-nav" class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#about-tab">About</a></li>
        <li class="tab col s3"><a class="active" href="#articles-tab">Articles</a></li>
        <li class="tab col s3"><a href="#saved-tab">Saved</a></li>
        <li class="tab col s3"><a href="#scrape-tab">Scrape</a></li>
      </ul>
    </div>

    <div id="about-tab" class="col s12">Test 1</div>
    <div id="articles-tab" class="col s12">
      <div class="tab-content valign-wrapper">
        <div class="alert"></div>
        <ul id="filter-settings" class="collapsible">
          <li>
            <div class="collapsible-header"><i class="fas fa-cog"></i> Filter Settings</div>
            <div class="collapsible-body green lighten-5">
              <label>
                <input type="checkbox" class="filled-in" value="politics" checked="checked" />
                <span>Politics</span>
              </label>
              <label>
                <input type="checkbox" class="filled-in" value="US" checked="checked" />
                <span>US</span>
              </label>
                 <label>
                <input type="checkbox" class="filled-in" value="technology" checked="checked" />
                <span>Technology</span>
              </label>
              <label>
                <input type="checkbox" class="filled-in" value="business" checked="checked" />
                <span>Business</span>
              </label>
                 <label>
                <input type="checkbox" class="filled-in" value="travel" checked="checked" />
                <span>Travel</span>
              </label>
              <label>
                <input type="checkbox" class="filled-in" value="health" checked="checked" />
                <span>Health</span>
              </label>
                 <label>
                <input type="checkbox" class="filled-in" value="entertainment" checked="checked" />
                <span>Entertainment</span>
              </label>
              <label>
                <input type="checkbox" class="filled-in" value="world" checked="checked" />
                <span>World</span>
              </label>
                 <label>
                <input type="checkbox" class="filled-in" value="other" checked="checked" />
                <span>Other</span>
              </label>
            </div>
          </li>
        </ul>
        <div class="loader-container">
          <div class="loader"></div>
          <span>Scraping Articles...</span>
        </div>
        <table>
          <thead>
            <tr>              
              <th>Title</th>
              <th>Category</th>
              <th>Source</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>   
    </div>
    <div id="saved-tab" class="col s12">Test 4</div>
    <div id="scrape-tab" class="col s12">Test 4</div>
  </div>   
</div>