<div class="container">
  <div class="row z-depth-2 lime lighten-5">
    <div id="tabs-nav" class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#about-tab">About</a></li>
        <li class="tab col s3"><a class="active" href="#articles-tab">Articles</a></li>
        <li class="tab col s3"><a href="#saved-tab">Saved</a></li>
        <li class="tab col s3"><a href="#scrape-tab">Scrape</a></li>
      </ul>
    </div>
    <div id="about-tab" class="col s12">
      <div class="tab-content"></div>
    </div>
    <div id="articles-tab" class="col s12">
      <div class="tab-content valign-wrapper">
        <div class="alert"></div>
        {{> filter }}
        <div class="loader-container">
          <div class="loader"></div>
          <span>Scraping Articles...</span>
        </div>
        {{> table }}
      </div>   
    </div>
    <div id="saved-tab" class="col s12">
      <div class="tab-content">
        {{> filter }}
        {{> table }}
        {{> modal }}
      </div>
    </div>
    <div id="scrape-tab" class="col s12">
      <div class="tab-content">
        <h5>Direct link to /api/scrape:</h5>
        <a href="/api/scrape" target="_blank"><code>scraped articles json</code></a>
        <h5>Scrape records (last 10):</h5>
        <table id="scrapeRecordsTable" class="striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time (sec)</th>
              <th>MSNBC</th>
              <th>CNN</th>
              <th>Fox News</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>   
</div>